@use "../generales/variables" as *;
/*css nosotros-----------------------------------------*/
.nosotros{
    background-color: $blancoHumo;
    padding: 40px;

    h1{
        font-family: $tipoDecor;
        font-size: 2.5rem;
        color: $negroCarbon;
        font-weight: 800;
    }
    p{
        font-family: $tipoCuerpo;
        font-size: 1rem;
        color: $negroCarbon;
    }
}